<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FSDConnection" connectionString="Data Source=DOTNET;Initial Catalog=FSD;Integrated Security=True;"  providerName="System.Data.SqlClient"></add>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="LabEmployeeService.EmployeeService" behaviorConfiguration="myEmployeeServiceBehave">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5000/EmployeeService.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="http://localhost:5000/EmployeeService.svc" binding="wsHttpBinding" contract="LabEmployeeService.IEmployeeService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myEmployeeServiceBehave">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>